[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
python-slugify = "*"
wordcloud = "*"
statsmodels = "*"
sklearn = "*"
seaborn = "*"
matplotlib-venn = "*"
cinemagoer = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
